*.md.json
/de
de/hexenverfolgung.html
de/kreuzzuege.html
/venv
de/missbraeuche.html
en/crusades.html
/md2json/target
md2json-bin
en/inquisition.html
en/abuse.html
/venv/*
en/witch-hunts.html
/md2json/out.txt
de/inquisition.html
/en