/en
/venv/*
/md2json/target
de/missbraeuche.html
en/crusades.html
de/kreuzzuege.html
de/hexenverfolgung.html
en/abuse.html
en/inquisition.html
/venv
/de
md2json-bin
de/inquisition.html
*.md.json
/md2json/out.txt
en/witch-hunts.html