

#floating-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--GW-body-background-color);
    box-sizing: border-box;
    box-shadow: 0 2px 6px var(--GW-floating-header-box-shadow-color);
    transition:
        top 0.2s ease-out;
}

#floating-header.hidden {
    top: -2.5em;
}
#floating-header.hidden .link-chain .link.page-title {
    display: none;
}

#floating-header .link-chain {
    padding: 3px 6px 4px 6px;
    font-size: calc(1rem * 8/9);
    text-align: center;
}
#floating-header .link-chain .link {
    font-weight: 600;
}
#floating-header .link-chain .link + .link::before {
    content: "\200B\2002·\2002"
}
#floating-header .link-chain .link.ellipsis::before {
    content: "\200B\2002";
}
#floating-header .link-chain .link.page-title {
    font-variant-caps: small-caps;
    font-weight: normal;
    letter-spacing: -0.25px;
}
#floating-header .link-chain.truncate-page-title .link.page-title,
#floating-header.hidden .link-chain .link.page-title {
    display: inline-block;
    white-space: nowrap;
    max-width: calc(100% - 12px);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

#floating-header .scroll-indicator {
    height: 3px;
    margin: 0 -8px;
    background-image: linear-gradient(var(--GW-floating-header-scroll-indicator-color),
                                      var(--GW-floating-header-scroll-indicator-color));
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 0 0;
}





@media (hover: hover) and (max-width: 1760px) {
    #floating-header {
        display: none;
    }
}
@media (hover: hover) and (min-width: 1761px) {
    #floating-header {
        width: calc(50vw - (var(--GW-body-max-width) / 2 + 64px));
        max-width: var(--GW-sidenotes-max-width);
        box-shadow:
            0 0  0 1px var(--GW-body-background-color),
            0 0  3px var(--GW-body-background-color),
            0 0  5px var(--GW-body-background-color),
            0 0  9px var(--GW-body-background-color),
            0 0 17px var(--GW-body-background-color);
        border-bottom: 1px solid var(--GW-floating-header-scroll-indicator-color);
        pointer-events: none;
        left: unset;
        right: calc(50% + (var(--GW-body-max-width) / 2) + 64px);
    }
    #floating-header > * {
        pointer-events: auto;
    }
    #floating-header .scroll-indicator {
        margin: 0;
    }
    #floating-header .link-chain {
        padding: 7px 10px 8px 10px
    }
    #floating-header .link-chain .link {
        display: block;
    }
    #floating-header .link-chain .link.page-title {
        margin: 0 0.75em;
    }
    #floating-header .link-chain .link.page-title + .link {
        margin-top: 0.5em;
    }
    #floating-header .link-chain .link:not(.page-title) {
        text-align: left;
        padding-left: calc((var(--link-index) - 1) * 1.25em);
    }
    #floating-header .link-chain .link:not(.page-title) a {
        font-size: calc(1em * (1 - (0.05 * (var(--link-index) - 1))));
    }
    #floating-header .link-chain .link::before {
        display: none;
    }

    
    body.page-index #floating-header {
        display: none;
    }
}


