<p class="first-block first-graf block" style="--bsm: 0;">
    Ab­stract of ar­ti­cle sum­ma­riz­ing the page. For de­sign phi­los­o­phy, see
    
    <a
        href="$$ROOT_HREF$$/design"
        id="gwern-design"
        class="link-annotated link-page has-icon has-annotation spawns-popup"
        data-link-icon-type="text"
        data-link-icon="𝔊"
        style="--link-icon: '𝔊';"
        data-attribute-title="&#39;Design Of This Website&#39;, Branwen 2010"
    >
        “De­sign Of This Web­site”
        <span class="link-icon-hook">⁠</span>
    </a>
    .

</p>
<p class="block" style="--bsm: 0;">
    “Lorem Ipsum” is a test page which ex­er­cises all stan­dard func­tion­al­ity and fea­tures of Gwern.net, from stan­dard Pan­doc
    
    <a
        href="https://en.wikipedia.org/wiki/Markdown"
        class="link-annotated-partial link-live has-icon has-annotation content-transform spawns-popup"
        data-link-icon="wikipedia"
        data-link-icon-type="svg"
        data-url-html="https://en.m.wikipedia.org/wiki/Markdown#bodyContent"
        data-attribute-title="Markdown"
    >
        Mark­down
        <span class="link-icon-hook">⁠</span>
    </a>
    like block­quotes/
    <wbr />head­ers/
    <wbr />ta­bles/
    <wbr />im­ages, to cus­tom fea­tures like side­notes, mar­gin notes, left/
    <wbr />right-
    <wbr />floated and full width im­ages, columns, epigraphs,
    ad­mo­ni­tions, small/
    <wbr />wide ta­bles, small­caps, col­lapse sec­tions, link an­no­ta­tions, link icons. It par­tic­u­larly stresses tran­sclu­sion func­tion­al­ity, as it is bro­ken up into mul­ti­ple
    Lorem sub-
    <wbr />pages which are tran­scluded into the mas­ter Lorem page.

</p>

<p>[
    <strong>Warning</strong>: JavaScript Disabled!]
</p>
