<section id="backlinks-section" class="level1 block" style="--bsm: 15;">
	<h1 class="heading">
		<a href="$$PAGE_HREF$$#backlinks-section" title="Link to section: § &#39;Backlinks&#39;">Backlinks</a>
	</h1>
	<div id="backlinks" class="include-wrapper-block">
		<ul class="aux-links-list backlinks-list list big-list list-level-1">
			<li class="block" style="--bsm: 4;">
				<p class="backlink-source in-list first-graf block" style="--bsm: 0;">
					<a
						href="$$ROOT_HREF$$/design"
						class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup"
						data-link-icon-type="text"
						data-link-icon="𝔊"
						style="--link-icon: '𝔊';"
						data-attribute-title="&#39;Design Of This Website&#39;, Gwern 2010"
					>
						Design Of This Website
						<span class="link-icon-hook">⁠</span>
					</a>
					(
					
					<a
						href="$$ROOT_HREF$$/design#gwern-lorem"
						class="link-page has-icon has-content spawns-popup has-indicator-hook"
						data-backlink-target-url="/lorem"
						data-link-icon-type="text"
						data-link-icon="𝔊"
						style="--link-icon: '𝔊';"
					>
						<span class="indicator-hook"></span>⁠full context
						<span class="link-icon-hook">⁠</span>
					</a>
					):
				
				</p>
				<blockquote class="backlink-context in-list blockquote-level-1 block" style="--bsm: 4;">
					<p class="first-block first-graf block" style="--bsm: 0;">
						<a
							href="$$ROOT_HREF$$/design"
							class="backlink-not collapsible include-block-context include-spinner include-loading icon-not has-content spawns-popup has-indicator-hook"
							data-target-id="gwern-lorem"
							data-backlink-target-url="/lorem"
							data-block-context-options="expanded"
							data-attribute-title="Content is loading. Please wait."
						>
							<span class="indicator-hook"></span>
							<span class="abstract-collapse">⁠[backlink context]</span>
						</a>
					</p>
				</blockquote>
			</li>
		</ul>
	</div>
</section>