<noscript>
	<div id="noscript-warning-header" class="admonition error">
		<div class="admonition-title">
			<p>[
				<strong>Warning</strong>: JavaScript Disabled!]
			</p>
		</div>
		<p>
			[For support of key 
			<a href="/design" title="About: Gwern.net Design: principles, features, links, tricks">website features</a> (link annotation popups/popovers & transclusions, collapsible sections,
			backlinks, tablesorting, image zooming, 
			<a href="/sidenote">sidenotes</a> etc), you must enable JavaScript.]
		
		</p>
	</div>
</noscript>