<figure class="width-full block" style="margin-left: calc((-1 * (var(--GW-full-width-block-layout-left-adjustment) / 2.0)) + (var(--GW-full-width-block-layout-side-margin)) - ((var(--GW-full-width-block-layout-page-width) - 100%) / 2.0) + (0px / 2.0)); margin-right: calc((var(--GW-full-width-block-layout-left-adjustment) / 2.0) + (var(--GW-full-width-block-layout-side-margin)) - ((var(--GW-full-width-block-layout-page-width) - 100%) / 2.0) - (0px / 2.0)); --bsm: 4;">
  <span class="figure-outer-wrapper">
    <span class="image-wrapper img dark-mode-invert focusable">
      <img alt="$$IMG_ALT$$" src="$$IMG_HREF$$" class="width-full focusable gallery-image invert-not-auto" decoding="async" loading="lazy"></span>
      <span class="caption-wrapper" style="max-width: 678px;">
        <figcaption>
          $$IMG_CAPTION$$
        </figcaption>
      </span>
    </span>   
</figure>