
<!-- ELEMENT_MARGIN_NOTES_BLOCK -->
<p class="margin-notes-block first-graf block" id="markdownBody-margin-notes-block" style="--bsm: 6;">
    <span class="marginnote inline">
        Margin note 1. A random
        
        <a
            href="https://en.wikipedia.org/wiki/Pentagrammic_prism"
            class="link-live has-annotation content-transform spawns-popup has-icon"
            data-link-icon="wikipedia"
            data-link-icon-type="svg"
            data-url-html="https://en.m.wikipedia.org/wiki/Pentagrammic_prism#bodyContent"
            data-attribute-title="Pentagrammic prism"
            style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
        >
            Wikipedia link
            <span class="link-icon-hook">⁠</span>
        </a>
    </span>
    <span class="marginnote inline">Bur­ton mar­gin note</span>
    <span class="marginnote inline">Cor­mac Mc­Carthy</span>
    <span class="marginnote inline">Her­man Mel­lville</span>
    <span class="marginnote inline">Nick Land</span>
</p>

<!-- ELEMENT_INTRO_PARAGRAPH_WITH_DROPCAP -->
<p class="first-graf intro-graf block overlap-not dropcap-kanzlei" style="--bsm: 4;">
    <a class="link-page link-dropcap spawns-popup" href="$$ROOT_HREF$$/dropcap#kanzlei" data-letter="B" data-dropcap-type="kanzlei">
        <span class="dropcap">B</span>
    </a>ody Text With Smallcaps Introduction:
    
    <span class="marginnote inline">
        <span class="marginnote-inner-wrapper">
            Margin note 1. A random
            
            <a
                href="https://en.wikipedia.org/wiki/Pentagrammic_prism"
                class="link-live has-icon has-annotation content-transform spawns-popup"
                data-link-icon="wikipedia"
                data-link-icon-type="svg"
                data-url-html="https://en.m.wikipedia.org/wiki/Pentagrammic_prism#bodyContent"
                style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                data-attribute-title="Pentagrammic prism"
            >
                Wikipedia link
                <span class="link-icon-hook">⁠</span>
            </a>
            .
        
        </span>
    </span>
    Angel Adept Blind Bodice Clique Coast Dunce 
    <a href="$$PAGE_HREF$$#fn1" class="footnote-ref spawns-popup" id="fnref1" role="doc-noteref">
        <sup>1</sup>
    </a> ⁠
    
    <a href="$$PAGE_HREF$$#fn2" class="footnote-ref spawns-popup" id="fnref2" role="doc-noteref">
        <sup>2</sup>
    </a> ⁠
    
    <a href="$$PAGE_HREF$$#fn3" class="footnote-ref spawns-popup" id="fnref3" role="doc-noteref">
        <sup>3</sup>
    </a> Onset onset oddball for the abandon zloty zodiac for the gizmo ozone of the franz laissez and buzzing.⁠
    
    <a href="$$PAGE_HREF$$#fn4" class="footnote-ref spawns-popup" id="fnref4" role="doc-noteref">
        <sup>4</sup>
    </a> The Dow dropped &lt;10% before increasing &gt;5%, and all the traders said “
    <em>&lt;what&gt;</em>”‽
    Because markets never dropped before⸮

</p>

<!-- ELEMENT_INLINE_FORMATTING -->
<div id="gwern-lorem-inline--inline-formatting" class="include-wrapper-block">
    <section id="inline-formatting" class="level1 block" style="--bsm: 13;">
        <h1 class="heading">
            <a href="$$PAGE_HREF$$#inline-formatting" title="Link to section: § &#39;Inline Formatting&#39;">Inline Formatting</a>
        </h1>
        <p class="margin-notes-block hidden first-graf block" id="inline-formatting-margin-notes-block" style="--bsm: 4;">
            <span class="marginnote inline">Margin note 3</span>
        </p>
        <p class="first-graf block" style="--bsm: 4;">
            <span class="marginnote inline">
                <span class="marginnote-inner-wrapper">Margin note 3.</span>
            </span> Inline formatting: 
            <em>Italics</em>. 
            <strong>Bold</strong>. 
            <strong>
                <em>Bold italics</em>
            </strong>.
            
            <code>Code</code>. 
            <span class="smallcaps">Smallcaps</span>.⁠
            <a href="$$PAGE_HREF$$-inline#fn5" class="footnote-ref spawns-popup" id="fnref5" role="doc-noteref">
                <sup>5</sup>
            </a> Span.
            
            <a
                href="$$ROOT_HREF$$/sidenote"
                id="gwern-sidenote"
                class="link-annotated link-page has-icon has-annotation spawns-popup"
                data-link-icon-type="text"
                data-link-icon="𝔊"
                style="--link-icon: '𝔊';"
                data-attribute-title="&#39;Sidenotes In Web Design&#39;, Branwen 2020"
            >
                Internal link
                <span class="link-icon-hook">⁠</span>
            </a>
            .
            
            <a
                href="http://linuxmafia.com/~rick/xmas.html"
                id="miller-miller-1998"
                class="link-live link-annotated has-annotation spawns-popup"
                data-url-archive="$$ROOT_HREF$$/doc/www/linuxmafia.com/ceed764241679a9d32b5026fe633882efe7f3237.html"
                data-attribute-title="&#39;Laws of Xmas&#39;, Akiva &amp; Miller 1998"
            >
                External link.
            </a>
            <a
                href="https://osf.io/preprints/psyarxiv/g8f9s/"
                id="hutcherson-et-al-2021"
                class="link-annotated has-icon has-annotation spawns-popup"
                data-link-icon="ψ"
                data-link-icon-type="text"
                data-link-icon-color="#cf1d35"
                style="--link-icon: 'ψ'; --link-icon-color-hover: #cf1d35;"
                data-attribute-title="&#39;Behavioral scientists and laypeople misestimate societal effects of COVID-19&#39;, Hutcherson et al 2021"
            >
                External 
                <em>italicized</em>
                <strong>bolded</strong>
                <strong>
                    <em>bold italicized</em>
                </strong> then 
                <span class="smallcaps">smallcaps’d</span> (with bonus 
                <code>code</code>) link.
                
                <span class="link-icon-hook">⁠</span>
            </a>
            Superscript
            <sup>1</sup>. Subscript
            <sub>2</sub>. · Interpunct separation. · 
            <del>Strikethrough</del>.
        
        </p>
        <p class="block" style="--bsm: 0;">
            <a
                href="$$ROOT_HREF$$/index"
                class="link-annotated link-page has-icon has-annotation spawns-popup"
                data-link-icon-type="text"
                data-link-icon="𝔊"
                style="--link-icon: '𝔊';"
                data-attribute-title="&#39;Essays&#39;, N/A 2009"
            >
                Inline 
                <em>italics</em> then 
                <code>code</code> then 
                <strong>bold</strong> then 
                <span class="smallcaps">smallcaps</span> in link.
                <span class="link-icon-hook">⁠</span>
            </a>
            (Entire link:
            
            <a
                href="$$ROOT_HREF$$/index"
                id="gwern-index-2"
                class="link-annotated link-page has-icon has-annotation spawns-popup"
                data-link-icon-type="text"
                data-link-icon="𝔊"
                style="--link-icon: '𝔊';"
                data-attribute-title="&#39;Essays&#39;, N/A 2009"
            >
                <code>code</code>
                <span class="link-icon-hook">⁠</span>
            </a>
            .)
        
        </p>
        <p class="block" style="--bsm: 0;">In blockquotes:</p>
        <blockquote class="blockquote-level-1 block" style="--bsm: 6;">
            <p class="first-block first-graf block" style="--bsm: 0;">
                <em>Italics</em>. 
                <strong>Bold</strong>. 
                <strong>
                    <em>Bold italics</em>
                </strong>. 
                <code>Code</code>.
                
                <a
                    href="https://en.wikipedia.org/wiki/Small_caps"
                    class="link-annotated-partial id-not link-live has-icon has-annotation content-transform spawns-popup"
                    data-link-icon="wikipedia"
                    data-link-icon-type="svg"
                    data-url-html="https://en.m.wikipedia.org/wiki/Small_caps#bodyContent"
                    style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                    data-attribute-title="Small caps"
                >
                    <span class="smallcaps">Smallcaps</span>
                    <span class="link-icon-hook">⁠</span>
                </a>
                . Span.
                
                <a
                    href="$$ROOT_HREF$$/sidenote"
                    id="gwern-sidenotes-2"
                    class="link-annotated link-page has-icon has-annotation spawns-popup"
                    data-link-icon-type="text"
                    data-link-icon="𝔊"
                    style="--link-icon: '𝔊';"
                    data-attribute-title="&#39;Sidenotes In Web Design&#39;, Branwen 2020"
                >
                    Internal link
                    <span class="link-icon-hook">⁠</span>
                </a>
                .
                
                <a
                    href="http://linuxmafia.com/~rick/xmas.html"
                    id="akiva-xmas-1"
                    class="link-live link-annotated has-annotation spawns-popup"
                    data-url-archive="$$ROOT_HREF$$/doc/www/linuxmafia.com/ceed764241679a9d32b5026fe633882efe7f3237.html"
                    data-attribute-title="&#39;Laws of Xmas&#39;, Akiva &amp; Miller 1998"
                >
                    External link.
                </a>
                Superscript
                <sup>1</sup>. Subscript
                <sub>2</sub>. · Interpunct separation. · 
                <del>Strikethrough</del>.
                
                <a
                    href="https://en.wikipedia.org/wiki/Syzygy_(astronomy)"
                    class="link-live has-icon has-annotation content-transform spawns-popup"
                    data-link-icon="wikipedia"
                    data-link-icon-type="svg"
                    data-url-html="https://en.m.wikipedia.org/wiki/Syzygy_(astronomy)#bodyContent"
                    style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                    data-attribute-title="Syzygy (astronomy)"
                >
                    Syzygy
                    <span class="link-icon-hook">⁠</span>
                </a>
                .
            
            </p>
            <blockquote class="blockquote-level-2 block" style="--bsm: 6;">
                <p class="first-block first-graf block" style="--bsm: 0;">
                    <em>Italics</em>. 
                    <strong>Bold</strong>. 
                    <strong>
                        <em>Bold italics</em>
                    </strong>. 
                    <code>Code</code>.
                    
                    <a
                        href="https://en.wikipedia.org/wiki/Small_caps"
                        class="link-annotated-partial id-not link-live has-icon has-annotation content-transform spawns-popup"
                        data-link-icon="wikipedia"
                        data-link-icon-type="svg"
                        data-url-html="https://en.m.wikipedia.org/wiki/Small_caps#bodyContent"
                        style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                        data-attribute-title="Small caps"
                    >
                        <span class="smallcaps">Smallcaps</span>
                        <span class="link-icon-hook">⁠</span>
                    </a>
                    . Span.
                    
                    <a
                        href="$$ROOT_HREF$$/sidenote"
                        id="gwern-sidenotes-3"
                        class="link-annotated link-page has-icon has-annotation spawns-popup"
                        data-link-icon-type="text"
                        data-link-icon="𝔊"
                        style="--link-icon: '𝔊';"
                        data-attribute-title="&#39;Sidenotes In Web Design&#39;, Branwen 2020"
                    >
                        Internal link
                        <span class="link-icon-hook">⁠</span>
                    </a>
                    .
                    
                    <a
                        href="http://linuxmafia.com/~rick/xmas.html"
                        id="akiva-xmas-2"
                        class="link-live link-annotated has-annotation spawns-popup"
                        data-url-archive="$$ROOT_HREF$$/doc/www/linuxmafia.com/ceed764241679a9d32b5026fe633882efe7f3237.html"
                        data-attribute-title="&#39;Laws of Xmas&#39;, Akiva &amp; Miller 1998"
                    >
                        External link.
                    </a>
                    Superscript
                    <sup>1</sup>. Subscript
                    <sub>2</sub>. · Interpunct separation. · 
                    <del>Strikethrough</del>.
                    
                    <a
                        href="https://en.wikipedia.org/wiki/Syzygy_(astronomy)"
                        class="link-live has-icon has-annotation content-transform spawns-popup"
                        data-link-icon="wikipedia"
                        data-link-icon-type="svg"
                        data-url-html="https://en.m.wikipedia.org/wiki/Syzygy_(astronomy)#bodyContent"
                        style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                        data-attribute-title="Syzygy (astronomy)"
                    >
                        Syzygy
                        <span class="link-icon-hook">⁠</span>
                    </a>
                    .
                
                </p>
                <blockquote class="blockquote-level-3 block" style="--bsm: 6;">
                    <p class="first-block first-graf block" style="--bsm: 0;">
                        <em>Italics</em>. 
                        <strong>Bold</strong>. 
                        <strong>
                            <em>Bold italics</em>
                        </strong>. 
                        <code>Code</code>.
                        
                        <a
                            href="https://en.wikipedia.org/wiki/Small_caps"
                            class="link-annotated-partial id-not link-live has-icon has-annotation content-transform spawns-popup"
                            data-link-icon="wikipedia"
                            data-link-icon-type="svg"
                            data-url-html="https://en.m.wikipedia.org/wiki/Small_caps#bodyContent"
                            style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                            data-attribute-title="Small caps"
                        >
                            <span class="smallcaps">Smallcaps</span>
                            <span class="link-icon-hook">⁠</span>
                        </a>
                        . Span.
                        
                        <a
                            href="$$ROOT_HREF$$/sidenote"
                            id="gwern-sidenotes-7"
                            class="link-annotated link-page has-icon has-annotation spawns-popup"
                            data-link-icon-type="text"
                            data-link-icon="𝔊"
                            style="--link-icon: '𝔊';"
                            data-attribute-title="&#39;Sidenotes In Web Design&#39;, Branwen 2020"
                        >
                            Internal link
                            <span class="link-icon-hook">⁠</span>
                        </a>
                        .
                        
                        <a
                            href="http://linuxmafia.com/~rick/xmas.html"
                            id="akiva-xmas-3"
                            class="link-live link-annotated has-annotation spawns-popup"
                            data-url-archive="$$ROOT_HREF$$/doc/www/linuxmafia.com/ceed764241679a9d32b5026fe633882efe7f3237.html"
                            data-attribute-title="&#39;Laws of Xmas&#39;, Akiva &amp; Miller 1998"
                        >
                            External link.
                        </a>
                        Superscript
                        <sup>1</sup>. Subscript
                        <sub>2</sub>. · Interpunct separation. · 
                        <del>Strikethrough</del>.
                        
                        <a
                            href="https://en.wikipedia.org/wiki/Syzygy_(astronomy)"
                            class="link-live has-icon has-annotation content-transform spawns-popup"
                            data-link-icon="wikipedia"
                            data-link-icon-type="svg"
                            data-url-html="https://en.m.wikipedia.org/wiki/Syzygy_(astronomy)#bodyContent"
                            style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                            data-attribute-title="Syzygy (astronomy)"
                        >
                            Syzygy
                            <span class="link-icon-hook">⁠</span>
                        </a>
                        .
                    
                    </p>
                    <blockquote class="blockquote-level-4 block" style="--bsm: 6;">
                        <p class="first-block first-graf block" style="--bsm: 0;">
                            <em>Italics</em>. 
                            <strong>Bold</strong>. 
                            <strong>
                                <em>Bold italics</em>
                            </strong>. 
                            <code>Code</code>.
                            
                            <a
                                href="https://en.wikipedia.org/wiki/Small_caps"
                                class="link-annotated-partial id-not link-live has-icon has-annotation content-transform spawns-popup"
                                data-link-icon="wikipedia"
                                data-link-icon-type="svg"
                                data-url-html="https://en.m.wikipedia.org/wiki/Small_caps#bodyContent"
                                style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                                data-attribute-title="Small caps"
                            >
                                <span class="smallcaps">Smallcaps</span>
                                <span class="link-icon-hook">⁠</span>
                            </a>
                            . Span.
                            
                            <a
                                href="$$ROOT_HREF$$/sidenote"
                                id="gwern-sidenotes-4"
                                class="link-annotated link-page has-icon has-annotation spawns-popup"
                                data-link-icon-type="text"
                                data-link-icon="𝔊"
                                style="--link-icon: '𝔊';"
                                data-attribute-title="&#39;Sidenotes In Web Design&#39;, Branwen 2020"
                            >
                                Internal link
                                <span class="link-icon-hook">⁠</span>
                            </a>
                            .
                            
                            <a
                                href="http://linuxmafia.com/~rick/xmas.html"
                                id="akiva-xmas-4"
                                class="link-live link-annotated has-annotation spawns-popup"
                                data-url-archive="$$ROOT_HREF$$/doc/www/linuxmafia.com/ceed764241679a9d32b5026fe633882efe7f3237.html"
                                data-attribute-title="&#39;Laws of Xmas&#39;, Akiva &amp; Miller 1998"
                            >
                                External link.
                            </a>
                            Superscript
                            <sup>1</sup>. Subscript
                            <sub>2</sub>. · Interpunct separation. ·
                            
                            <del>Strikethrough</del>.
                            
                            <a
                                href="https://en.wikipedia.org/wiki/Syzygy_(astronomy)"
                                class="link-live has-icon has-annotation content-transform spawns-popup"
                                data-link-icon="wikipedia"
                                data-link-icon-type="svg"
                                data-url-html="https://en.m.wikipedia.org/wiki/Syzygy_(astronomy)#bodyContent"
                                style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                                data-attribute-title="Syzygy (astronomy)"
                            >
                                Syzygy
                                <span class="link-icon-hook">⁠</span>
                            </a>
                            .
                        
                        </p>
                        <blockquote class="blockquote-level-5 block" style="--bsm: 6;">
                            <p class="first-block first-graf block" style="--bsm: 0;">
                                <em>Italics</em>. 
                                <strong>Bold</strong>. 
                                <strong>
                                    <em>Bold italics</em>
                                </strong>. 
                                <code>Code</code>.
                                
                                <a
                                    href="https://en.wikipedia.org/wiki/Small_caps"
                                    class="link-annotated-partial id-not link-live has-icon has-annotation content-transform spawns-popup"
                                    data-link-icon="wikipedia"
                                    data-link-icon-type="svg"
                                    data-url-html="https://en.m.wikipedia.org/wiki/Small_caps#bodyContent"
                                    style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                                    data-attribute-title="Small caps"
                                >
                                    <span class="smallcaps">Smallcaps</span>
                                    <span class="link-icon-hook">⁠</span>
                                </a>
                                . Span.
                                
                                <a
                                    href="$$ROOT_HREF$$/sidenote"
                                    id="gwern-sidenotes-5"
                                    class="link-annotated link-page has-icon has-annotation spawns-popup"
                                    data-link-icon-type="text"
                                    data-link-icon="𝔊"
                                    style="--link-icon: '𝔊';"
                                    data-attribute-title="&#39;Sidenotes In Web Design&#39;, Branwen 2020"
                                >
                                    Internal link
                                    <span class="link-icon-hook">⁠</span>
                                </a>
                                .
                                
                                <a
                                    href="http://linuxmafia.com/~rick/xmas.html"
                                    id="akiva-xmas-5"
                                    class="link-live link-annotated has-annotation spawns-popup"
                                    data-url-archive="$$ROOT_HREF$$/doc/www/linuxmafia.com/ceed764241679a9d32b5026fe633882efe7f3237.html"
                                    data-attribute-title="&#39;Laws of Xmas&#39;, Akiva &amp; Miller 1998"
                                >
                                    External link.
                                </a>
                                Superscript
                                <sup>1</sup>. Subscript
                                <sub>2</sub>. · Interpunct separation. ·
                                
                                <del>Strikethrough</del>.
                                
                                <a
                                    href="https://en.wikipedia.org/wiki/Syzygy_(astronomy)"
                                    class="link-live has-icon has-annotation content-transform spawns-popup"
                                    data-link-icon="wikipedia"
                                    data-link-icon-type="svg"
                                    data-url-html="https://en.m.wikipedia.org/wiki/Syzygy_(astronomy)#bodyContent"
                                    style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                                    data-attribute-title="Syzygy (astronomy)"
                                >
                                    Syzygy
                                    <span class="link-icon-hook">⁠</span>
                                </a>
                                .
                            
                            </p>
                            <blockquote class="blockquote-level-6 block" style="--bsm: 6;">
                                <p class="first-block first-graf block" style="--bsm: 0;">
                                    <em>Italics</em>. 
                                    <strong>Bold</strong>. 
                                    <strong>
                                        <em>Bold italics</em>
                                    </strong>. 
                                    <code>Code</code>.
                                    
                                    <a
                                        href="https://en.wikipedia.org/wiki/Small_caps"
                                        class="link-annotated-partial id-not link-live has-icon has-annotation content-transform spawns-popup"
                                        data-link-icon="wikipedia"
                                        data-link-icon-type="svg"
                                        data-url-html="https://en.m.wikipedia.org/wiki/Small_caps#bodyContent"
                                        style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                                        data-attribute-title="Small caps"
                                    >
                                        <span class="smallcaps">Smallcaps</span>
                                        <span class="link-icon-hook">⁠</span>
                                    </a>
                                    . Span.
                                    
                                    <a
                                        href="$$ROOT_HREF$$/sidenote"
                                        id="gwern-sidenotes-6"
                                        class="link-annotated link-page has-icon has-annotation spawns-popup"
                                        data-link-icon-type="text"
                                        data-link-icon="𝔊"
                                        style="--link-icon: '𝔊';"
                                        data-attribute-title="&#39;Sidenotes In Web Design&#39;, Branwen 2020"
                                    >
                                        Internal link
                                        <span class="link-icon-hook">⁠</span>
                                    </a>
                                    .
                                    
                                    <a
                                        href="http://linuxmafia.com/~rick/xmas.html"
                                        id="akiva-xmas-6"
                                        class="link-live link-annotated has-annotation spawns-popup"
                                        data-url-archive="$$ROOT_HREF$$/doc/www/linuxmafia.com/ceed764241679a9d32b5026fe633882efe7f3237.html"
                                        data-attribute-title="&#39;Laws of Xmas&#39;, Akiva &amp; Miller 1998"
                                    >
                                        External link.
                                    </a>
                                    Superscript
                                    <sup>1</sup>. Subscript
                                    <sub>2</sub>. · Interpunct separation. ·
                                    
                                    <del>Strikethrough</del>.
                                    
                                    <a
                                        href="https://en.wikipedia.org/wiki/Syzygy_(astronomy)"
                                        class="link-live has-icon has-annotation content-transform spawns-popup"
                                        data-link-icon="wikipedia"
                                        data-link-icon-type="svg"
                                        data-url-html="https://en.m.wikipedia.org/wiki/Syzygy_(astronomy)#bodyContent"
                                        style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                                        data-attribute-title="Syzygy (astronomy)"
                                    >
                                        Syzygy
                                        <span class="link-icon-hook">⁠</span>
                                    </a>
                                    .
                                
                                </p>
                            </blockquote>
                        </blockquote>
                    </blockquote>
                </blockquote>
            </blockquote>
        </blockquote>
        <p class="first-graf block" style="--bsm: 6;">
            <a href="$$PAGE_HREF$$-inline#matt-lakeman-2020-peepshow" class="link-page has-icon has-content spawns-popup has-indicator-hook" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
                <span class="indicator-hook"></span>⁠Link to Matt Lakeman’s 
                <em>Peep Show</em> review
                <span class="link-icon-hook">⁠</span>
            </a>
            elsewhere (down arrow). Fourth ruler (should be sun again):
        
        </p>
        <div class="horizontal-rule-nth-0">
            <hr class="block" style="--bsm: 8;" />
        </div>
        <section id="smallcaps" class="level2 block" style="--bsm: 13;">
            <h2 class="heading">
                <a href="$$PAGE_HREF$$#smallcaps" title="Link to section: § &#39;Smallcaps&#39;">Smallcaps</a>
            </h2>
            <p class="first-graf block" style="--bsm: 4;">Alphabet in smallcaps: 
                <span class="smallcaps">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z 0 1 2 3 4 5 6 7 8 9</span>.
            </p>
            <p class="list-heading block" style="--bsm: 4;">Manual smallcaps (alternating):</p>
            <ul class="list list-level-1">
                <li class="block" style="--bsm: 2;">
                    <p class="in-list first-graf block" style="--bsm: 0;">
                        <span class="smallcaps">Yar Pirate Ipsum</span>. Prow Scuttle Parrel Provost. 
                        <span class="smallcaps">Sail Ho Shrouds Spirits Boom Mizzenmast Yardarm.</span> Pinnace Holystone Mizzenmast Quarter
                        Crow’s Nest Nipperkin Grog Yardarm Hempen Halter Furl. 
                        <span class="smallcaps">Swab Barque Interloper Chantey Doubloon Starboard Grog Black Jack Gangway Rutters.</span> Trysail Sail Ho Corsair Red
                        Ensign Hulk Smartly Boom Jib Rum Gangway. 
                        <span class="smallcaps">Ford To City: ‘Drop Dead’</span>.
                    
                    </p>
                </li>
            </ul>
        </section>
        <section id="subscriptsuperscript" class="level2 block" style="--bsm: 11;">
            <h2 class="heading">
                <a href="$$PAGE_HREF$$#subscriptsuperscript" title="Link to section: § &#39;Subscript+Superscript&#39;">Subscript+Superscript</a>
            </h2>
            <ul class="list list-level-1">
                <li class="block" style="--bsm: 4;">
                    <p class="in-list first-graf block" style="--bsm: 0;">
                        R
                        <span class="subsup">
                            <sub>3</sub>
                            <sup>2</sup>
                        </span> = 0.6499
                    
                    </p>
                </li>
                <li class="block" style="--bsm: 2;">
                    <p class="in-list first-graf block" style="--bsm: 0;">
                        <em>h</em>
                        <span class="subsup">
                            <sub>men</sub>
                            <sup>2</sup>
                        </span> = 0.56, 
                        <em>h</em>
                        <span class="subsup">
                            <sub>women</sub>
                            <sup>2</sup>
                        </span> = 0.54
                    
                    </p>
                </li>
                <li class="block" style="--bsm: 2;">
                    <p class="in-list first-graf block" style="--bsm: 0;">
                        Average Number of Articles Read on the Browser
                        
                        <em>
                            NumArticles
                            <span class="subsup">
                                <sub>it</sub>
                                <sup>Browser</sup>
                            </span>
                        </em>
                        by Subscribers and Non-subscribers.
                    
                    </p>
                </li>
            </ul>
            <section id="date-subscripts" class="level3 block" style="--bsm: 9;">
                <h3 class="heading">
                    <a href="$$PAGE_HREF$$#date-subscripts" title="Link to section: § &#39;Date Subscripts&#39;">Date Subscripts</a>
                </h3>
                <div class="admonition note desktop-not block" style="--bsm: 4;">
                    <p class="first-block first-graf block" style="--bsm: 0;">These 
                        <em>should</em> be disabled on mobile.
                    </p>
                </div>
                <p class="first-graf block" style="--bsm: 4;">
                    One reason I’m interested in the date subscript idea is that I already try to be consistent with commas to distinguish years from numbers which happen to fall in the range 1,000–2,100. (What about
                    years whose number form wouldn’t have a comma, and they are ambiguous, like ‘999’ the number vs ‘999 AD’? There aren’t many of those on Gwern.net so they’ll just have to be marked up manually or
                    possibly the regexp match made more complicated to match an AD/
                    <wbr />BC suffix).
                
                </p>
                <p class="block" style="--bsm: 0;">So hypothetically I can mark up years differently from numbers, and ranges as well.</p>
                <p class="block" style="--bsm: 0;">
                    A date ‘1500’ (which is not the number ‘1,500’) can be subscripted 
                    <code>1500~524ya~</code> while a ‘1,500’ is ignored; and a date-range like ‘the third Swisso-Franco incursion (
                    
                    <span class="date-range" title="The date range 1549–1603 lasted 54 years, ending 421 years ago.">
                        1549
                        <span class="subsup">
                            <sup>–</sup>
                            <sub>54</sub>
                        </span>1603
                        <sub>
                            <span title="1549 was 421 years ago.">421ya</span>
                        </sub>
                    </span>
                    ) led to…’ can be marked up as 
                    <em>both</em> a sub and superscript, say, like 
                    <code>1549--&lt;sup&gt;52&lt;/
                        <wbr />sup&gt;1603&lt;sub&gt;421ya&lt;/
                        <wbr />sub&gt;
                    </code>—to tell you at a glance that
                    this war lasted an epic half century half a millenium ago.
                
                </p>
                <p class="list-heading block" style="--bsm: 4;">So it’d go:</p>
                <ul class="list big-list list-level-1">
                    <li class="block" style="--bsm: 2;">
                        <p class="in-list first-graf block" style="--bsm: 0;">single non-date number: nothing</p>
                    </li>
                    <li class="block" style="--bsm: 2;">
                        <p class="in-list first-graf block" style="--bsm: 0;">single date number: subscript years-ago</p>
                        <p class="in-list block" style="--bsm: 0;">
                            Ranges and years-ago are rounded like inflation, to keep them workable for large ones, like in archaeology or anthropology or evolution where you might have a 10 million year range 100 million
                            years ago.
                        </p>
                    </li>
                    <li class="block" style="--bsm: 2;">
                        <p class="in-list first-graf block" style="--bsm: 0;">double non-date number range: superscript range</p>
                    </li>
                    <li class="block" style="--bsm: 2;">
                        <p class="in-list first-graf block" style="--bsm: 0;">double date number: superscript range, subscript years-ago.</p>
                    </li>
                </ul>
                <div class="horizontal-rule-nth-2">
                    <hr class="block" style="--bsm: 8;" />
                </div>
                <p class="first-graf block" style="--bsm: 8;">
                    Test-cases for using subscripts to annotate dates with auto-generated time spans to avoid the
                    
                    <a
                        href="$$ROOT_HREF$$/subscript#date-ranges"
                        id="gwern-subscript--date-ranges"
                        class="link-page has-icon has-content spawns-popup has-indicator-hook"
                        data-link-icon-type="text"
                        data-link-icon="𝔊"
                        style="--link-icon: '𝔊';"
                    >
                        <span class="indicator-hook"></span>⁠‘context collapse’ or ‘eternal present’ problem
                        <span class="link-icon-hook">⁠</span>
                    </a>
                    as temporal intuitions seem to be breaking down.
                
                </p>
                <blockquote class="blockquote-level-1 block" style="--bsm: 6;">
                    <p class="first-block first-graf block" style="--bsm: 0;">
                        WII was
                        
                        <span class="date-range" title="The date range 1939–1945 lasted 6 years, ending 79 years ago.">
                            1939
                            <span class="subsup">
                                <sup>–</sup>
                                <sub>6</sub>
                            </span>1945
                            <sub>
                                <span title="1939 was 79 years ago.">79ya</span>
                            </sub>
                        </span>
                        <span>
                            , or more specifically,
                            
                            <span class="date-range" title="The date range 1939-09-01–1945-09-02 lasted 6 years (2,194 days), ending 79 years ago.">
                                1939-09-01
                                <span class="subsup">
                                    <sup>–</sup>
                                    <sub>6y</sub>
                                </span>1945-09-02
                                <sub>
                                    <span title="1939-09-01 was 79 years ago.">79ya</span>
                                </sub>
                            </span>
                            . The end of WWII was
                        
                        </span>
                        <span class="date-range">
                            1945
                            <sub>
                                <span title="1945 was 79 years ago.">79ya</span>
                            </sub>
                        </span>
                        . It is now 2025. It used to be
                        
                        <span class="date-range">
                            2009
                            <sub>
                                <span title="2009 was 15 years ago.">15ya</span>
                            </sub>
                        </span>
                        . Whereas in the year
                        
                        <span class="date-range">
                            1492
                            <sub>
                                <span title="1492 was 532 years ago.">532ya</span>
                            </sub>
                        </span>
                        , Columbus sailed the ocean blue. RIP Sir
                        
                        <a
                            href="https://en.wikipedia.org/wiki/Thomas_Browne"
                            class="link-annotated-partial link-live has-icon has-annotation content-transform spawns-popup"
                            data-link-icon="wikipedia"
                            data-link-icon-type="svg"
                            data-url-html="https://en.m.wikipedia.org/wiki/Thomas_Browne#bodyContent"
                            style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                            data-attribute-title="Thomas Browne"
                        >
                            Thomas Browne
                            <span class="link-icon-hook">⁠</span>
                        </a>
                        <span>
                            (
                            
                            <span class="date-range" title="The date range 1605-10–1682-10 lasted 77 years (28,125 days), ending 342 years ago.">
                                1605-10
                                <span class="subsup">
                                    <sup>–</sup>
                                    <sub>77y</sub>
                                </span>1682-10
                                <sub>
                                    <span title="1605-10 was 342 years ago.">342ya</span>
                                </sub>
                            </span>
                            ).
                        
                        </span>
                    </p>
                    <p class="block" style="--bsm: 0;">
                        Hirohito reigned
                        
                        <span class="date-range" title="The date range 1926–1989 lasted 63 years, ending 35 years ago.">
                            1926
                            <span class="subsup">
                                <sup>–</sup>
                                <sub>63</sub>
                            </span>1989
                            <sub>
                                <span title="1926 was 35 years ago.">35ya</span>
                            </sub>
                        </span>
                        <span>
                            . The first atomic bombing to surrender speech interval was
                            
                            <span class="date-range" title="The date range 1945-08-06–1945-08-15 lasted (10 days), ending 79 years ago.">
                                1945-08-06
                                <span class="subsup">
                                    <sup>–</sup>
                                    <sub>10d</sub>
                                </span>1945-08-15
                                <sub>
                                    <span title="1945-08-06 was 79 years ago.">79ya</span>
                                </sub>
                            </span>
                            . Then
                            
                            <span class="date-range" title="The date range 1945-08-15–1945-10-09 lasted (56 days), ending 79 years ago.">
                                1945-08-15
                                <span class="subsup">
                                    <sup>–</sup>
                                    <sub>2m</sub>
                                </span>1945-10-09
                                <sub>
                                    <span title="1945-08-15 was 79 years ago.">79ya</span>
                                </sub>
                            </span>
                            saw the new cabinet. In the 1900s,
                        
                        </span>
                        <em>Neon Genesis Evangelion</em>
                        <span>
                            :
                            
                            <span class="date-range" title="The date range 1995-10-04–1996-03-27 lasted 1 year (176 days), ending 28 years ago.">
                                1995-10-04
                                <span class="subsup">
                                    <sup>–</sup>
                                    <sub>6m</sub>
                                </span>1996-03-27
                                <sub>
                                    <span title="1995-10-04 was 28 years ago.">28ya</span>
                                </sub>
                            </span>
                            , or sim
                            
                            <span class="date-range" title="The date range 1995-10–1996-03 lasted 1 year (153 days), ending 28 years ago.">
                                1995-10
                                <span class="subsup">
                                    <sup>–</sup>
                                    <sub>5m</sub>
                                </span>1996-03
                                <sub>
                                    <span title="1995-10 was 28 years ago.">28ya</span>
                                </sub>
                            </span>
                            .
                        
                        </span>
                    </p>
                    <p class="block" style="--bsm: 0;">There were 1,700–2,001 ships available for moe anthropomorphism. 999. 1. 55. 2. 2600. 0. 3-2-1-0. 2000s.</p>
                </blockquote>
                <p class="empty-graf block" style="--bsm: 0;">
                </p>
            </section>
        </section>
        <section id="numbers" class="level2 block" style="--bsm: 13;">
            <h2 class="heading">
                <a href="$$PAGE_HREF$$#numbers" title="Link to section: § &#39;Numbers&#39;">Numbers</a>
            </h2>
            <p class="first-graf list-heading block" style="--bsm: 4;">Old-style numbers (default for inline use):</p>
            <ul class="list list-level-1">
                <li class="block" style="--bsm: 2;">
                    <p class="in-list first-graf block" style="--bsm: 0;">0123456789. 0,123,456,789. 1,234.567890. 0 1 2 3 4 5 6 7 8 9.</p>
                </li>
            </ul>
            <p class="first-graf list-heading block" style="--bsm: 4;">Numbers in links (lining rather than old-style, to avoid skipping ink):</p>
            <ul class="list list-level-1">
                <li class="block" style="--bsm: 2;">
                    <p class="in-list first-graf block" style="--bsm: 0;">
                        <a
                            href="https://en.wikipedia.org/wiki/Pandigital_number"
                            class="link-live has-icon has-annotation content-transform spawns-popup"
                            data-link-icon="wikipedia"
                            data-link-icon-type="svg"
                            data-url-html="https://en.m.wikipedia.org/wiki/Pandigital_number#bodyContent"
                            style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                            data-attribute-title="Pandigital number"
                        >
                            9,876,543,210.
                            <span class="link-icon-hook">⁠</span>
                        </a>
                    </p>
                </li>
            </ul>
            <p class="first-graf list-heading block" style="--bsm: 4;">
                Dates (
                
                <a
                    href="https://en.wikipedia.org/wiki/ISO_8601"
                    class="link-live has-icon has-annotation content-transform spawns-popup"
                    data-link-icon="wikipedia"
                    data-link-icon-type="svg"
                    data-url-html="https://en.m.wikipedia.org/wiki/ISO_8601#bodyContent"
                    style="--link-icon-url: url('/static/img/icon/icons.svg#wikipedia');"
                    data-attribute-title="ISO 8601"
                >
                    YYYY-MM-DD
                    <span class="link-icon-hook">⁠</span>
                </a>
                ):
            
            </p>
            <ul class="list list-level-1">
                <li class="block" style="--bsm: 2;">
                    <p class="in-list first-graf block" style="--bsm: 0;">
                        2020-09-29.
                        
                        <span class="date-range" title="The date range 1970-01-01–2038-01-19 lasted 68 years (24,856 days).">
                            1970-01-01
                            <span class="subsup">
                                <sup>–</sup>
                                <sub>68y</sub>
                            </span>2038-01-19
                        
                        </span>
                        .
                    
                    </p>
                </li>
            </ul>
        </section>
    </section>
</div>

