<a class="logo has-content spawns-popup" rel="home me contents" href="$$ROOT_HREF$$/$$LANG$$" data-attribute-title="$$HOMEPAGE_DESC$$">
	<svg class="logo-image" viewBox="0 0 64 75">
		<use href="$$HOMEPAGE_LOGO$$"></use>
	</svg>
</a>
<div class="sidebar-links">

	<a 
		class="site link-page link-annotated has-annotation spawns-popup" 
		href="$$ROOT_HREF$$/$$ALL_ARTICLES_LINK$$" 
		rel="author" 
		data-attribute-title="$$ALL_ARTICLES_DESC$$"
	>
		$$ALL_ARTICLES_TITLE$$
	</a>
	
	<a
		class="me link-page link-annotated has-annotation spawns-popup"
		href="$$ROOT_HREF$$/$$NEWEST_LINK$$"
		rel="author"
		data-attribute-title="$$NEWEST_DESC$$"
	>
		$$NEWEST_TITLE$$
	</a>
	
	<a 
		class="new-essays link-page link-annotated has-annotation spawns-popup" 
		href="$$ROOT_HREF$$/$$TOOLS_LINK$$" 
		data-attribute-title="$$TOOLS_DESCR$$"
	>
		$$TOOLS_TITLE$$
	</a>
	
	<a 
		class="new-links link-page has-content spawns-popup" 
		href="$$ROOT_HREF$$/$$SHOP_LINK$$" 
		data-attribute-title="$$SHOP_DESCR$$"
	>
		$$SHOP_TITLE$$
	</a>
	
	<a class="patreon" 
		href="$$ROOT_HREF$$/$$ABOUT_LINK$$" 
		title="$$ABOUT_DESC$$" 
		rel="me"
	>$$ABOUT_TITLE$$</a>
</div>