<a class="logo has-content spawns-popup" rel="home me contents" href="$$ROOT_HREF$$/index" data-attribute-title="$$HOMEPAGE_DESC$$">
	<svg class="logo-image" viewBox="0 0 64 75">
		<use href="$$LOGO$$"></use>
	</svg>
</a>
<div class="sidebar-links">

	<a 
		class="site link-page link-annotated has-annotation spawns-popup" 
		href="$$ROOT_HREF$$/about" 
		rel="author" 
		data-attribute-title="$$ABOUT_SITE_DESC$$"
	>
		$$ABOUT_SITE_TITLE$$
	</a>
	
	<a
		class="me link-page link-annotated has-annotation spawns-popup"
		href="$$ROOT_HREF$$/me"
		rel="author"
		data-attribute-title="$$ABOUT_ME_DESC$$"
	>
		$$ABOUT_ME_TITLE$$
	</a>
	
	<a 
		class="new-essays link-page link-annotated has-annotation spawns-popup" 
		href="$$ROOT_HREF$$/changelog" 
		data-attribute-title="$$CHANGELOG_DESC$$"
	>
		$$CHANGELOG_TITLE$$
	</a>
	
	<a 
		class="new-links link-page has-content spawns-popup" 
		href="$$ROOT_HREF$$/doc/newest/index" 
		data-attribute-title="$$NEWEST_DESC$$"
	>
		$$NEWEST_TITLE$$
	</a>
	
	<a class="patreon" 
		href="$$DONATE_HREF$$" 
		title="$$DONATE_DESC$$" 
		rel="me"
	>$$DONATE_TITLE$$</a>
</div>