$$HOMEPAGE_LOGO$$
<div class="sidebar-links">

	<a 
		class="site link-page link-annotated has-annotation spawns-popup" 
		href="$$ROOT_HREF$$/$$ALL_ARTICLES_LINK$$" 
		rel="author" 
		data-attribute-title="$$ALL_ARTICLES_DESC$$"
	>
		$$ALL_ARTICLES_TITLE$$
	</a>
	
	<a
		class="docs link-page link-annotated has-annotation spawns-popup"
		href="$$ROOT_HREF$$/$$DOCS_LINK$$"
		rel="author"
		data-attribute-title="$$DOCS_DESC$$"
	>
		$$DOCS_TITLE$$
	</a>
	
	<a 
		class="tools link-page link-annotated has-annotation spawns-popup" 
		href="$$ROOT_HREF$$/$$RESOURCES_LINK$$" 
		data-attribute-title="$$RESOURCES_DESCR$$"
	>
		$$RESOURCES_TITLE$$
	</a>
	
	<a 
		class="shop link-page has-content spawns-popup" 
		href="$$ROOT_HREF$$/$$SHOP_LINK$$" 
		data-attribute-title="$$SHOP_DESCR$$"
	>
		$$SHOP_TITLE$$
	</a>

</div>