<head>
    <title>$$TITLE$$</title>
    <meta name="description" content="$$DESCRIPTION$$">

    <!-- LICENSE_FULL -->
    <!-- MULTILANG_TAGS -->
    <!-- REDIRECT_JS -->

    <script type="text/javascript" src="/static/js/ligature.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta
      name="theme-color"
      content="#fff"
      media="(prefers-color-scheme: light)" />
    <meta
      name="theme-color"
      content="#161616"
      media="(prefers-color-scheme: dark)" />

    <link crossorigin="anonymous" rel="preload" href="/static/img/watercolor.avif" as="image">
    <link crossorigin="anonymous" rel="manifest" href="/manifest.json" />

    <link crossorigin="anonymous" rel="preload" href="/static/font/ssfp/SourceSerifPro-BASIC-RegularItalic.woff2" as="font" type="font/woff2" crossorigin>
    <link crossorigin="anonymous" rel="preload" href="/static/font/ssfp/SourceSerifPro-BASIC-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link crossorigin="anonymous" rel="preload" href="/static/font/ssfp/SourceSerifPro-BASIC-Semibold.woff2" as="font" type="font/woff2" crossorigin>

    <!-- CRITICAL_CSS -->
    <!-- DARKLIGHT_STYLES -->

    <!-- DROPCAP_CSS -->

    <!-- INLINED-HEAD-END -->

    <meta name="title" content="$$TITLE$$">
    <meta name="citation_title" content="$$TITLE$$">
    <meta name="creator" content="dubia.cc">
    <meta name="author" content="$$AUTHOR$$">
    <meta name="citation_author" content="$$AUTHOR$$">
    <meta name="contact" content="$$ROOT_HREF$$/$$CONTACT_URL$$">
    <meta name="keywords" content="$$KEYWORDS$$">
    <meta name="page-body-classes" content="lorem dropcaps-kanzlei">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark">

    <meta name="og:title" content="$$TITLE$$">
    <meta name="og:site" content="dubia.cc">
    <meta name="og:type" content="article">
    <meta name="og:description" content="$$OG_DESCRIPTION$$">
    <meta name="twitter:creator" content="dubia">
    <meta name="twitter:site" content="dubia.cc">
    <meta name="twitter:title" content="$$TITLE$$">

    <meta name="og:image" content="$$IMG$$">
    <meta name="og:image:alt" content="$$IMG_ALT$$">
    <meta name="og:url" content="$$ROOT_HREF$$/$$LANG$$/$$SLUG$$">
    <meta name="dubia:thumbnail:css-classes" content="outline invert-not">

    <link rel="schema.dcterms" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/">
    <meta name="citation_publication_date" content="$$DATE$$">
    <meta name="citation_fulltext_html_url" content="$$ROOT_HREF$$/$$LANG$$/$$SLUG$$">
    <meta name="citation_fulltext_world_readable" content="">
    <meta name="dc.date.issued" content="$$DATE$$">
    <meta name="dcterms.modified" content="$$DATE$$">
    <meta name="dcterms.rights" content="CC BY 4.0">
    <meta name="dc.rights" content="https://creativecommons.org/licenses/by/4.0">

    <link rel="index" title="dubia.cc homepage" href="$$ROOT_HREF$$">
    <link rel="alternate" type="text/markdown" href="$$ROOT_HREF$$/$$LANG$$/$$SLUG$$" title="Markdown source of ‘$$TITLE$$’ page">
    <link rel="canonical" href="$$PAGE_HREF$$">

    <link id="favicon" rel="icon" type="image/png" href="$$ROOT_HREF$$/static/img/logo/logo-sm-32.avif">
    <link id="favicon-dark" rel="icon" type="image/png" href="$$ROOT_HREF$$/static/img/logo/logo-sm-32.avif" media="not all">
    <link id="favicon-apple-touch" rel="apple-touch-icon" type="image/png" href="$$ROOT_HREF$$/static/img/logo/logo-sm-192.avif">
    <link id="favicon-apple-touch-dark" rel="apple-touch-icon" type="image/png" href="$$ROOT_HREF$$/static/img/logo/logo-sm-dark-192.avif" media="not all">

    <style id="full-width-block-layout-styles">:root {
      --GW-full-width-block-layout-side-margin: 25px;
      --GW-full-width-block-layout-page-width: 1470px;
      --GW-full-width-block-layout-left-adjustment: 0px;
    }
    </style>
</head>
  