<section id="main" class="level1 block" style="--bsm: 7;grid-column:span 2;min-height: 250px;">
  <style>
    #select-faith {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(/static/img/icon/icons.svg#arrow-down) 96% / 15% no-repeat #EEE;
      background-size: 20px;
      background-position: 5px;
      border: 2px solid var(--GW-body-link-color);
      font-family: var(--GW-serif-font-stack);
      font-weight: bold;
      padding:5px 10px;
      padding-right:35px;
      margin-top: 5px; 
      text-align:right;
      background-color: var(--GW-body-color);
      color:var(--GW-text-color);
      flex-grow:1;
      cursor:pointer;
      max-width:300px;
      font-size:1rem;
    }
    @media (max-width: 649px) { 
      #select-faith-wrapper { flex-direction: column; } 
      #select-faith { max-width: none; }
    }
  </style>
  <div id="select-faith-wrapper" style="display:flex;flex-grow:1;justify-content: space-between;">
    <h1 class="heading" style="border:none !important;font-variant-caps: small-caps;min-width:150px;">$$I_BELIEVE_IN$$</h1>
    <select id="select-faith" aria-label="$$SELECT_FAITH$$">
        <!-- OPTIONS -->
    </select>
  </div>

  <p class="empty-graf block" style="--bsm: 4;"></p>
  
  <!-- SECTIONS -->

  <script defer>
    function replaceIBelieveInSection(event) {
        let newval = event.target.options[event.target.selectedIndex].value;
        let items = document.getElementsByClassName("index-first-section");
        for (let e of items) {
            e.style.display = "none";
        }
        document.getElementById("index-section-" + newval).style.display = "block";
        let inverted = document.getElementsByClassName("invert");
        for (let e of inverted) {
          e.style.display = "none";
        }
        let shown = document.getElementsByClassName("invert-of-" + newval);
        for (let q of shown) {
          q.style.display = "block";
        }
    }
    document.getElementById("select-faith").onchange = replaceIBelieveInSection;
  </script>
</section>

<!-- OTHER_SECTIONS -->