<div id="abstract" class="abstract smallcaps-not" style="min-height: 648.66px;max-height: 648.66px;height: 648.66px;width: 100%;">

    <style>
        #index-logo {
            width: 100%;
            display:flex;
            flex-grow: 1;
            justify-content: center;
            margin-top: 100px;
            margin-bottom: 60px;
        }
        @media all and (max-width:650px) {
            #index-logo {
                margin-top: 50px;
                margin-bottom: 40px;
            }
        }
        #index-logo > svg {
            width:300px !important; 
            height:125.67px !important;
        }
    </style>
  <div id="index-logo">
    <!-- SVG_LOGO_INLINE -->
  </div>

  <!-- PAGE_DESCRIPTION -->

  <!-- SEARCHBAR -->

  <!-- PAGE_HELP -->
</div>
<section id="newest" class="level1 block" style="--bsm: 7;">
  <h1 class="heading"><a href="https://gwern.net/#newest"
      title="Link to section: § &#39;Newest&#39;">Newest</a><button type="button"
      class="copy-section-link-button" title="Copy section link to clipboard"><svg
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path
          d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
        </path>
      </svg></button></h1>
  <p class="empty-graf block" style="--bsm: 4;"><!-- NOTE: update /index-long when adding new ones --></p>
  <ul class="list list-level-1">
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 4;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/harberger"
          id="harberger-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Self-Funding Harberger Taxes&#39;, Gwern 2024">Self-funding Harberger
          copyright tax</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/web-color"
          id="webcolor-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Website Colors: Red vs Blue&#39;, Gwern 2024">Website Colors: Red vs
          Blue</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/unsort"
          id="unsort-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Can You Unsort Lists for Diversity?&#39;, Gwern 2019">Unsorting Lists for
          Diversity?</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/matt-levine"
          id="matt-levine-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Why So Few Matt Levines?&#39;, Gwern 2024">Why So Few Matt Levines?</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/book-writing"
          id="book-writing-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Why To Not Write A Book&#39;, Gwern 2024">Why To Not Write A Book</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/oen" id="oen-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Number Search Engine via NN Embeddings&#39;, Gwern 2024">Idea: number
          search engine</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/rubiks-cube"
          id="rubik-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;On the Impossibility of Superintelligent Rubik’s Cube Solvers&#39;, Gwern et al 2023">“Impossibility
          of AI Rubik’s Cube Solver”</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/review/the-last-unicorn"
          id="unicorn-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Review Of &lt;em&gt;The Last Unicorn&lt;/em&gt;&#39;, Gwern 2024"><em>Last
            Unicorn</em> review</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/review/crumb"
          id="crumb-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Review Of &lt;em&gt;Crumb&lt;/em&gt;&#39;, Gwern 2024"><em>Crumb</em>
          review</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/review/timecrimes"
          id="time-crimes-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;&lt;em&gt;Timecrimes&lt;/em&gt;: Time Travel In Hell&#39;, Gwern 2023"><em>Timecrimes</em>
          review: Time Travel In Hell</a></p>
    </li>
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/review/quantum-thief"
          id="quantum-thief-newest"
          class="link-annotated link-page link-modified-recently in-list has-annotation spawns-popup"
          data-attribute-title="&#39;Review Of &lt;em&gt;The Quantum Thief&lt;/em&gt; Trilogy&#39;, Gwern 2022"><em>The
            Quantum Thief</em> review</a></p>
    </li>
  </ul>
</section>
<section id="popular" class="level1 block" style="--bsm: 7;">
  <h1 class="heading"><a href="https://gwern.net/#popular"
      title="Link to section: § &#39;Popular&#39;">Popular</a><button type="button"
      class="copy-section-link-button" title="Copy section link to clipboard"><svg
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
          <path
          d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
          </path>
      </svg></button></h1>
  <p class="first-graf block" style="--bsm: 4;"><span id="most-popular"></span></p>
  <ul class="list list-level-1">
      <li class="block dark-mode-invert" style="--bsm: 4;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/scaling-hypothesis"
          id="gwern-scaling-hypothesis-2" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;The Scaling Hypothesis&#39;, Gwern 2020">The NN Scaling Hypothesis</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/death-note-anonymity"
          id="dna-2" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Death Note: L, Anonymity &amp; Eluding Entropy&#39;, Gwern 2011"><em>Death
              Note</em> Anonymity</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/silk-road" id="sr-2"
          class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Silk Road 1: Theory &amp; Practice&#39;, Gwern 2011">Silk Road 1
          Tutorial</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/dnm-archive"
          id="dnm-archives-2" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Darknet Market Archives (2013–2015)&#39;, Gwern 2013">DNM Archives (<span
              class="date-range">2013–2015</span>)</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/modafinil"
          id="modafinil-2" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Modafinil&#39;, Gwern 2009">Using Modafinil Stimulants</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/spaced-repetition"
          id="spaced-repetition-2" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Spaced Repetition for Efficient Learning&#39;, Gwern 2009">Spaced
          Repetition Learning</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/complement"
          id="complement-2" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Laws of Tech: Commoditize Your Complement&#39;, Gwern 2018">Commoditize
          Your Complement</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/banner" id="gwern-banner"
          class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Banner Ads Considered Harmful&#39;, Gwern 2017">Banner Ads Considered
          Harmful</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/face" id="faces-2"
          class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Making Anime Faces With StyleGAN&#39;, Gwern 2019">Generating Anime
          Faces</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/subculture"
          id="gwern-subculture" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;The Melancholy of Subculture Society&#39;, Gwern 2009">Melancholy of
          Subculture Society</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/improvement"
          id="improvements-popular" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;My Ordinary Life: Improvements Since the 1990s&#39;, Gwern 2018">Ordinary
          Life Improvements</a></p>
      </li>
  </ul>
</section>
<section id="notable" class="level1 block" style="--bsm: 7;">
<h1 class="heading"><a href="https://gwern.net/#notable"
    title="Link to section: § &#39;Notable&#39;">Notable</a><button type="button"
    class="copy-section-link-button" title="Copy section link to clipboard"><svg
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path
        d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
        </path>
    </svg></button></h1>
<ul class="list list-level-1">
    <li class="block link-modified-recently-list-item dark-mode-invert" style="--bsm: 4;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/math-error"
        id="math-error-notable"
        class="link-modified-recently link-annotated link-page in-list has-annotation spawns-popup"
        data-attribute-title="&#39;The Existential Risk of Math Errors&#39;, Gwern 2012">Existential Risks
        &amp; Math Errors</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><span id="danbooru2017"></span><span
        id="danbooru2018"></span><span id="danbooru2019"></span><span id="danbooru2020"></span> <a
        href="https://gwern.net/danbooru2021" id="danbooru2021-notable"
        class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Danbooru2021: A Large-Scale Crowdsourced &amp; Tagged Anime Illustration Dataset&#39;, Gwern 2015">Danbooru2021:
        Anime Dataset</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/dnm-archive"
        id="dnm-archives-notable" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Darknet Market Archives (2013–2015)&#39;, Gwern 2013">DNM Archives (<span
            class="date-range">2013–2015</span>)</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/correlation"
        id="correlation-notable" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;How Often Does Correlation=Causality?&#39;, Gwern 2014">Correlation ≠
        Causality</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/embryo-selection"
        id="embryo-selection-notable" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Embryo Selection For Intelligence&#39;, Gwern 2016">Embryo Selection For
        Traits</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/longevity"
        id="longevity-notable" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Life Extension Cost-Benefits&#39;, Gwern 2015">Longevity Meta-analyses</a>
    </p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/spaced-repetition"
        id="spaced-repetition-notable" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Spaced Repetition for Efficient Learning&#39;, Gwern 2009">Spaced
        Repetition Learning</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/tool-ai"
        id="tool-ai-notable" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Why Tool AIs Want to Be Agent AIs&#39;, Gwern 2016">Tool AIs Want To Be
        Agent AIs</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/search"
        id="search-notable" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Internet Search Tips&#39;, Gwern 2018">Internet Research Tips</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/inclusionism"
        id="inclusionism-notable" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;In Defense of Inclusionism&#39;, Gwern 2009">In Defense Of Inclusionism</a>
    </p>
    </li>
</ul>
<p class="empty-graf block" style="--bsm: 0;">
    <!-- Implicit '- - -'/<hr> inserted here by sed in sync.sh; necessary to put the <hr> 'outside' the Pandoc-generated <section> tags so the two sets of columns flow on desktop. -->
</p>
</section>

<hr class="horizontal-rule-nth-1 block dark-mode-invert" style="--bsm: 8;">

<section id="statistics" class="level1 block" style="--bsm: 7;">
<h1 class="heading"><a href="https://gwern.net/#statistics"
    title="Link to section: § &#39;Statistics&#39;">Statistics</a><button type="button"
    class="copy-section-link-button" title="Copy section link to clipboard"><svg
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path
        d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
        </path>
    </svg></button></h1>
<ul class="list list-level-1">
    <li class="block dark-mode-invert" style="--bsm: 4;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/google-shutdown"
        id="shutdowns-2" class="link-annotated link-page has-annotation spawns-popup"
        data-link-icon-color="#4285f4" style="--link-icon-color-hover: #237fff;"
        data-attribute-title="&#39;Predicting Google closures&#39;, Gwern 2013">Predicting Google Closures</a>
    </p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/2012-election"
        id="gwern-2012-election" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;2012 election predictions&#39;, Gwern 2012">Judging 2012 Election
        Forecasts</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/google-alerts"
        id="gwern-google-alerts" class="link-annotated link-page has-annotation spawns-popup"
        data-link-icon-color="#4285f4" style="--link-icon-color-hover: #237fff;"
        data-attribute-title="&#39;Alerts Over Time&#39;, Gwern 2013">Google Alerts Over Time</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/hpmor" id="gwern-hpmor"
        class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="‘‘HP: Methods of Rationality’ review statistics’, Gwern 2012">Modeling Fiction
        Review Rates</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/ea-donation"
        id="gwern-ea-donation" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;LWer Effective Altruism donations, 2013–2014&#39;, Gwern 2015">LW EA
        Donations, 2013–2014</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/note/statistic"
        id="gwern-note-statistic" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Statistical Notes&#39;, Gwern 2014">Miscellaneous Notes</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/note/regression"
        id="gwern-note-regression" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Regression To The Mean Fallacies&#39;, Gwern 2021">Regression-To-Mean
        Fallacy</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/note/fermi"
        id="gwern-note-fermi" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;Fermi Calculation Examples&#39;, Gwern 2019">Fermi Problem Examples</a></p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/note/lion"
        id="gwern-note-lion" class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;The Math of Hunting Lions&#39;, Gwern 2021">The Math Of Hunting Lions</a>
    </p>
    </li>
    <li class="block dark-mode-invert" style="--bsm: 0;">
    <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/tla" id="gwern-tla"
        class="link-annotated link-page has-annotation spawns-popup"
        data-attribute-title="&#39;CQK Is The First Unused TLA&#39;, Gwern 2023">‘CQK’ Is The First Unused
        TLA</a></p>
    </li>
</ul>
</section>

<section id="statistics" class="level1 block" style="--bsm: 7;">
  <h1 class="heading"><a href="https://gwern.net/#statistics"
      title="Link to section: § &#39;Statistics&#39;">Statistics</a><button type="button"
      class="copy-section-link-button" title="Copy section link to clipboard"><svg
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
          <path
          d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
          </path>
      </svg></button></h1>
  <ul class="list list-level-1">
      <li class="block dark-mode-invert" style="--bsm: 4;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/google-shutdown"
          id="shutdowns-2" class="link-annotated link-page has-annotation spawns-popup"
          data-link-icon-color="#4285f4" style="--link-icon-color-hover: #237fff;"
          data-attribute-title="&#39;Predicting Google closures&#39;, Gwern 2013">Predicting Google Closures</a>
      </p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/2012-election"
          id="gwern-2012-election" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;2012 election predictions&#39;, Gwern 2012">Judging 2012 Election
          Forecasts</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/google-alerts"
          id="gwern-google-alerts" class="link-annotated link-page has-annotation spawns-popup"
          data-link-icon-color="#4285f4" style="--link-icon-color-hover: #237fff;"
          data-attribute-title="&#39;Alerts Over Time&#39;, Gwern 2013">Google Alerts Over Time</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/hpmor" id="gwern-hpmor"
          class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="‘‘HP: Methods of Rationality’ review statistics’, Gwern 2012">Modeling Fiction
          Review Rates</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/ea-donation"
          id="gwern-ea-donation" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;LWer Effective Altruism donations, 2013–2014&#39;, Gwern 2015">LW EA
          Donations, 2013–2014</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/note/statistic"
          id="gwern-note-statistic" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Statistical Notes&#39;, Gwern 2014">Miscellaneous Notes</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/note/regression"
          id="gwern-note-regression" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Regression To The Mean Fallacies&#39;, Gwern 2021">Regression-To-Mean
          Fallacy</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/note/fermi"
          id="gwern-note-fermi" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;Fermi Calculation Examples&#39;, Gwern 2019">Fermi Problem Examples</a></p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/note/lion"
          id="gwern-note-lion" class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;The Math of Hunting Lions&#39;, Gwern 2021">The Math Of Hunting Lions</a>
      </p>
      </li>
      <li class="block dark-mode-invert" style="--bsm: 0;">
      <p class="in-list first-graf block" style="--bsm: 0;"><a href="https://gwern.net/tla" id="gwern-tla"
          class="link-annotated link-page has-annotation spawns-popup"
          data-attribute-title="&#39;CQK Is The First Unused TLA&#39;, Gwern 2023">‘CQK’ Is The First Unused
          TLA</a></p>
      </li>
  </ul>
  </section>

<div style="height: 100px;"></div>
