<div id="abstract" class="abstract smallcaps-not" style="width: 100%;">

    <style>
        #index-logo {
            width: 100%;
            display:flex;
            flex-grow: 1;
            justify-content: center;
            margin-top: 100px;
            margin-bottom: 60px;
        }
        #index-logo > svg {
            width:250px !important; 
            height:104.73px !important;
        }
        @media all and (max-width:650px) {
            #index-logo {
                margin-top: 50px;
                margin-bottom: 40px;
            }
            #index-logo > svg {
                width:200px !important; 
                height:83.87px !important;
            }
        }

    </style>
  <div id="index-logo">
    <!-- SVG_LOGO_INLINE -->
  </div>

  <!-- PAGE_DESCRIPTION -->

  <!-- SEARCHBAR -->

  <!-- PAGE_HELP -->
</div>

<!-- SECTIONS -->

<hr class='horizontal-rule-nth-1 block dark-mode-invert' style='--bsm: 8;'>

<!-- SECTION_EXTRA -->
