<h2 id="section-lesson-title-$$LESSON_ID$$" class="section-lession-title">$$TITLE$$</h2>

<div id="lesson-$$LESSON_ID$$" class="lesson">
  <!-- LESSON_CONTENT -->
</div>

<div id="help-$$LESSON_ID$$" class="help-section">
  <!-- HELP_CONTENT -->
</div>

<ol id="test-sentences-$$LESSON_ID$$"></ol>

<div id="grade-result-$$LESSON_ID$$" class="grade" data-activetest="1"></div>

<button id='submit-test-$$LESSON_ID$$' type="button" onclick="gradeTest($$LESSON_ID$$)">$$SUBMIT_TEST$$</button>
<button id='reload-test-$$LESSON_ID$$' type="button" onclick="reloadTest($$LESSON_ID$$)">$$RELOAD_TEST$$</button>
