<div style="display:flex;flex-grow: 1;width:100%;justify-content: center;">
<div style="max-width:600px;">
    <p class="block first-graf" style="--bsm: 0;">To use <em>dark-mode</em> (<span class="icon-moon-solid"></span>) or
    <em>reader-mode</em> (<span class="icon-book-open-solid"></span>), or <em>disable popups</em> (<span
        class="icon-message-slash-solid"></span>), or <em>search</em> the site (<span
        class="icon-magnifying-glass"></span>), use the floating toggle bar in the <span
        class="desktop-not">lower-right</span><span class="mobile-not">upper-right</span> corner (<span
        class="icon-gear-solid"></span>)</p>
</div>
</div>