<div style="display:flex;flex-grow: 1;width:100%;justify-content: center;margin-top:20px;">
<div style="max-width:600px;">
    <style>p#page-help::first-line { font-variant-caps: small-caps !important; } p#page-help { margin-top: 0px !important; }</style>
    <p id="page-help" class="block first-graf" style="--bsm: 0;text-indent:0px !important;text-align: justify !important;">To use <em>dark-mode</em> (<span class="icon-moon-solid"></span>) or
    <em>reader-mode</em> (<span class="icon-book-open-solid"></span>), or <em>disable popups</em> (<span
        class="icon-message-slash-solid"></span>), or <em>search</em> the site (<span
        class="icon-magnifying-glass"></span>), use the floating toggle bar in the <span
        class="desktop-not">lower-right</span><span class="mobile-not">upper-right</span> corner (<span
        class="icon-gear-solid"></span>)</p>
</div>
</div>