<div class="page-metadata-fields">
	<span class="date-range" title="$$DATE_DESC$$">
		$$DATE_TITLE$$
	</span>
	<span class="backlinks dotted">
		<a
			class="backlinks link-self has-icon has-content spawns-popup has-indicator-hook"
			href="$$PAGE_HREF$$#backlinks"
			data-link-icon="arrows-pointing-inwards-to-dot"
			data-link-icon-type="svg"
			style="--link-icon-url: url('/static/img/icon/icons.svg#arrows-pointing-inwards-to-dot');"
			data-attribute-title="$$BACKLINKS_DESC$$"
		>
			<span class="indicator-hook"></span>$$BACKLINKS_TITLE$$
			<span class="link-icon-hook">⁠</span>
		</a>
	</span>
	<span class="similars dotted">
		<a
			class="similars link-self has-icon has-content spawns-popup has-indicator-hook"
			data-link-icon="≈"
			data-link-icon-type="text"
			href="$$PAGE_HREF$$#similars"
			style="--link-icon: '≈';"
			data-attribute-title="$$SIMILAR_DESC$$"
		>
			<span class="indicator-hook"></span>$$SIMILAR_TITLE$$
			<span class="link-icon-hook">⁠</span>
		</a>
	</span>
	<span class="link-bibliography">
		<a
			href="$$PAGE_HREF$$#link-bibliography"
			data-link-icon="bibliography"
			data-link-icon-type="svg"
			class="link-self has-icon has-content spawns-popup has-indicator-hook"
			style="--link-icon-url: url('/static/img/icon/icons.svg#bibliography');"
			data-attribute-title="$$BIBLIOGRAPHY_DESC$$"
		>
			<span class="indicator-hook"></span>$$BIBLIOGRAPHY_TITLE$$
			<span class="link-icon-hook">⁠</span>
		</a>
	</span>
</div>