<!DOCTYPE html>
<html lang="en-us">
<!-- HEAD_TEMPLATE_HTML -->
<body class="page-lorem dropcaps-kanzlei">
	<main>
        <nav id="sidebar">
			<!-- HEADER_NAVIGATION -->
		</nav>
		<article>
			<header>
				<h1 style="max-width:470px;margin:0 auto;font-size:2.2em;">$$TITLE$$</h1>
			</header>

			<div class="markdownBody" id="markdownBody">
                <div id="abstract" class="abstract smallcaps-not" style="width: 100%;grid-column: span 2;">
				    <!-- SEARCH -->
                </div>
            </div>
        </article>
    </main>
    <script type="text/javascript" src="/$$LANG$$/search.js" defer=""></script>
</body>
</html>