<style>
    #index-searchbar {
        display:flex;
        flex-grow:1;
        max-width: 800px;
        margin: 40px auto;
        margin-top: 50px;
        margin-bottom: 0px;
        flex-direction: column;
    }
    #index-searchbar-row {
        display: flex;
        flex-direction: row;
    }
    #index-search-input {
        display: flex;
        flex-grow: 1;
        background: white;
        color: #191919;
        padding: 10px;
        font-family: var(--GW-serif-font-stack);
        font-size: var(--base-font-size);
        font-weight: bold;
        border-radius: 3px;
    }
    #index-search-button {
        background: gold; 
        color: #2c2c2c;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-family: var(--GW-serif-font-stack);
        font-size: var(--base-font-size);
        font-weight: bold;
        cursor: pointer;
        border-radius: 3px;
    }
    #index-search-results {
        background: var(--link-underline-gradient-line-color);
        padding: 0px;
        margin-top: 10px;
        overflow: hidden;
        overflow-y: auto;
    }
    #index-search-results li {
        margin-top: 0 !important;
    }
    #index-search-results ul.list.list-level-1 {
        line-height: 1.5;
        margin-left: 5px;
    }
</style>
<div id="index-searchbar">
  <div id="index-searchbar-row">
    <form id="index-search-form" style="display:flex;width:100%;" onsubmit="return false;">
        <input id="index-search-input" autofocus="true" type="search" placeholder="$$SEARCHBAR_PLACEHOLDER$$" />
        <button id="index-search-button" type='button' onclick="return false;">$$SEARCH$$</button>
    </form>
  </div>
  <div id="index-search-results"></div>
</div>
