<section id="similar-section" class="level1 block" style="--bsm: 15;">
	<h1 class="heading">
		<a href="$$PAGE_HREF$$#similar" title="Link to section: § &#39;Similar Links&#39;">Similar Links</a>
	</h1>
	<div id="similar" class="include-wrapper-block">
		<div class="columns block" style="--bsm: 4;">
			<ul class="aux-links-list similar-list list list-level-1">
				<li class="block" style="--bsm: 0;">
					<p class="in-list first-graf first-block block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-april-fools" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: April Fools Mode
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-halloween" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Halloween Mode
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-christmas" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Christmas Mode
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-inline" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Inline Markup
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-sidenote" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Sidenotes
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-table" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Tables
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-code" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Source Code Highlighting
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-admonition" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Admonitions
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-transclude" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Transcludes
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-header" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Headers
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$PAGE_HREF$$-link" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Lorem Ipsum: Link Types
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a
							href="$$ROOT_HREF$$/design-graveyard#link-icon-css-regexps"
							class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup"
							data-link-icon-type="text"
							data-link-icon="𝔊"
							style="--link-icon: '𝔊';"
						>
							Design Graveyard § Link-Icon CSS Regexps
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a
							href="$$ROOT_HREF$$/design-graveyard#popup-annotations"
							class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup"
							data-link-icon-type="text"
							data-link-icon="𝔊"
							style="--link-icon: '𝔊';"
						>
							Design Graveyard § Popup Annotations
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$ROOT_HREF$$/design-graveyard" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Design Graveyard
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a
							href="$$ROOT_HREF$$/design#returns-to-design"
							class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup"
							data-link-icon-type="text"
							data-link-icon="𝔊"
							style="--link-icon: '𝔊';"
						>
							Design Of This Website § Returns To Design?
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$ROOT_HREF$$/sidenote" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							Sidenotes In Web Design
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$ROOT_HREF$$/ab-test" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							A/
							<wbr />B testing long-form readability on Gwern.net
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$ROOT_HREF$$/ab-test-indent" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							A/
							<wbr />B Testing Indentation &amp; Justification
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<a href="$$ROOT_HREF$$/about" class="link-annotated backlink-not link-page has-icon has-annotation spawns-popup" data-link-icon-type="text" data-link-icon="𝔊" style="--link-icon: '𝔊';">
							About This Website
							<span class="link-icon-hook">⁠</span>
						</a>
					</p>
				</li>
				<li class="block" style="--bsm: 2;">
					<p class="in-list first-graf block" style="--bsm: 0;">
						<span class="similar-links-search">
							<strong>Search</strong>:
							
							<a
								href="https://scholar.google.com/scholar?q=%22Lorem%20Ipsum%22"
								class="backlink-not id-not link-live-not archive-not has-icon"
								data-link-icon="google-scholar"
								data-link-icon-type="svg"
								title="Reverse citations of this paper in Google Scholar"
								style="--link-icon-url: url('/static/img/icon/icons.svg#google-scholar');"
							>
								GS
								<span class="link-icon-hook">⁠</span>
							</a>
							;
							
							<a
								href="https://www.google.com/search?q=%22Lorem%20Ipsum%22"
								class="backlink-not id-not link-live-not archive-not has-icon"
								data-link-icon="alphabet"
								data-link-icon-type="svg"
								title="Google search engine hits for ‘Lorem Ipsum’."
								style="--link-icon-url: url('/static/img/icon/icons.svg#alphabet');"
							>
								Google
								<span class="link-icon-hook">⁠</span>
							</a>
							;
							
							<a
								href="https://www.google.com/search?q=site:dubia.cc+-site:dubia.cc/metadata/Lorem%20Ipsum"
								class="backlink-not has-icon"
								data-link-icon="alphabet"
								data-link-icon-type="svg"
								title="Gwern.net site-wide search hits for ‘Lorem Ipsum’."
								style="--link-icon-url: url('/static/img/icon/icons.svg#alphabet');"
							>
								site
								<span class="link-icon-hook">⁠</span>
							</a>
						</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>