<!DOCTYPE html>
<html lang="$$LANG$$">
	<!-- HEAD_TEMPLATE_HTML -->
	<body class="page-index">
		<a id="skip-to-content-link" href="$$PAGE_HREF$$#markdownBody">
            $$SKIP_TO_MAIN_CONTENT$$
        </a>
		<img src="/static/img/watercolor.avif" alt="Watercolor decoration" id="watercolor" decoding="async" height="512" width="1024" decoding="async" />
		<main>
			<nav id="sidebar">
				<!-- HEADER_NAVIGATION -->
			</nav>
			<article style="margin-bottom: 100px">
				<header>
					<h1 style="max-width:470px;margin:0 auto;font-size:2.2em;">$$TITLE$$</h1>
				</header>
				
				<div class="markdownBody" id="markdownBody">
					<!-- BODY_NOSCRIPT -->
					<!-- BODY_ABSTRACT -->
					<!-- BODY_CONTENT -->
					<!-- SIDENOTES -->
				</div>
			</article>
		</main>
		<!-- INJECT_SW -->
	</body>
</html>