<li>
	<a href="$$PAGE_HREF$$#bugs" id="toc-bugs" class="decorate-not has-content spawns-popup">Bugs</a>
</li>
<li>
	<a href="$$PAGE_HREF$$#special-pages" id="toc-special-pages" class="decorate-not has-content spawns-popup">Special Pages</a>
	<ul class="list-level-2">
		<li>
			<a href="$$PAGE_HREF$$#book-reviews" id="toc-book-reviews" class="decorate-not has-content spawns-popup">Book Reviews</a>
		</li>
		<li>
			<a href="$$PAGE_HREF$$#docs-directory" id="toc-docs-directory" class="decorate-not has-content spawns-popup">Docs Directory</a>
		</li>
		<li>
			<a href="$$PAGE_HREF$$#holiday-themes" id="toc-holiday-themes" class="decorate-not has-content spawns-popup">Holiday Themes</a>
		</li>
	</ul>
</li>
<li>
	<a class="link-self decorate-not has-content spawns-popup" id="toc-footnotes" href="$$PAGE_HREF$$#footnotes">Footnotes</a>
</li>
<li>
	<a class="link-self decorate-not has-content spawns-popup" id="toc-backlinks-section" href="$$PAGE_HREF$$#backlinks-section">Backlinks</a>
</li>
<li>
	<a class="link-self decorate-not has-content spawns-popup" id="toc-similars-section" href="$$PAGE_HREF$$#similars-section">Similar Links</a>
</li>
<li>
	<a class="link-self decorate-not has-content spawns-popup" id="toc-link-bibliography-section" href="$$PAGE_HREF$$#link-bibliography-section">Bibliography</a>
</li>