<div id="TOC" class="TOC">
	<ul class="list-level-1">
		<li>
			<a href="https://gwern.net/harberger#harberger-taxation" id="toc-harberger-taxation"
				class="decorate-not has-content spawns-popup">Harberger Taxation</a>
		</li>
		<li>
			<a href="https://gwern.net/harberger#pricing-opportunity-cost" id="toc-pricing-opportunity-cost"
				class="decorate-not has-content spawns-popup">Pricing Opportunity Cost</a>
		</li>
		<li>
			<a href="https://gwern.net/harberger#standing-buyout-offers" id="toc-standing-buyout-offers"
				class="decorate-not has-content spawns-popup">Standing Buyout Offers</a>
			<ul class="list-level-2">
				<li>
					<a href="https://gwern.net/harberger#self-funding" id="toc-self-funding"
						class="decorate-not has-content spawns-popup">Self-Funding</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="https://gwern.net/harberger#self-funding-harberger-tax-buyouts"
				id="toc-self-funding-harberger-tax-buyouts" class="decorate-not has-content spawns-popup">Self-Funding
				Harberger Tax Buyouts</a>
			<ul class="list-level-2">
				<li>
					<a href="https://gwern.net/harberger#problem-stripping" id="toc-problem-stripping"
						class="decorate-not has-content spawns-popup">Problem: Stripping</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="https://gwern.net/harberger#other-uses" id="toc-other-uses"
				class="decorate-not has-content spawns-popup">Other Uses</a>
		</li>
		<li>
			<a class="link-self decorate-not has-content spawns-popup" id="toc-footnotes"
				href="https://gwern.net/harberger#footnotes">Footnotes</a>
		</li>
		<li><a class="link-self decorate-not has-content spawns-popup" id="toc-similar"
				href="https://gwern.net/harberger#similar">Similar Links</a></li>
		<li><a class="link-self decorate-not has-content spawns-popup" id="toc-bibliography"
				href="https://gwern.net/harberger#bibliography">Bibliography</a></li>
	</ul>
	<button class="toc-collapse-toggle-button" title="Collapse table of contents" tabindex="-1"><span><svg
				xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
				<path
					d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
				</path>
			</svg></span></button>
</div>