
<section id="outro-01" class="level1 block" style="--bsm: 7;min-height: 200px;">
    <h2 class="heading"><a href="$$PAGE_HREF$$#outro-01"
    title="End">End</a><button type="button"
    class="copy-section-link-button" title="Copy section link to clipboard"><svg viewBox="0 0 640 512">
        <path
        d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
        </path>
    </svg></button></h2>
    <div class="rosary-img">

        <p class="first-graf block first" style="--bsm: 4;">
            Hail, holy Queen, Mother of Mercy, hail our life, our sweetness and our hope.
            To thee do we cry, poor banished children of Eve; 
            To thee do we send up our sighs, mourning and weeping in this valley of tears.
        </p>

        <div style="position:relative;">

            <img class="rosary-img" loading="lazy" src="/static/img/rosary/outro-01.avif" width="1024" height="1024" />

            <a class="nextlink left" href="#s15_10">
                <div class="link-left">
                    <div class="link-left-content"></div>
                </div>
            </a>
    
            <a class="nextlink right" href="#outro-02">
                <div class="link-right">
                    <div class="link-right-content"></div>
                </div>
            </a>
        </div>

        <p class="first-graf block last" style="--bsm: 4;">
            Turn then, most gracious advocate, thine eyes of mercy toward us;
            and after this our exile, show unto us the blessed fruit of 
            thy womb, Jesus. O clement, O loving, O sweet Virgin Mary.
        </p>
    </div>
</section>

<section id="outro-02" class="level1 block" style="--bsm: 7;min-height: 200px;">
    <h2 class="heading"><a href="$$PAGE_HREF$$#outro-02"
    title="Ende">Ende</a><button type="button"
    class="copy-section-link-button" title="Copy section link to clipboard"><svg viewBox="0 0 640 512">
        <path
        d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
        </path>
    </svg></button></h2>
    <div class="rosary-img">

        <p class="first-graf block first" style="--bsm: 4;">
            Pray for us, O holy Mother of God, that we may 
            be made worthy of the promises of Christ.<br/>
            Let us pray: 
        </p>

        <div style="position:relative;">

            <img class="rosary-img" loading="lazy" src="/static/img/rosary/outro-02.avif" width="1024" height="1024" />

            <a class="nextlink left" href="#outro-01">
                <div class="link-left">
                    <div class="link-left-content"></div>
                </div>
            </a>

            <a class="nextlink right" href="#outro-03">
                <div class="link-right">
                    <div class="link-right-content"></div>
                </div>
            </a>
        </div>

        <p class="first-graf block last" style="--bsm: 4;"></p>
            Almighty, everlasting God, who, by the 
            co-operation of the Holy Spirit 
            didst prepare the body and soul of the glorious 
            Virgin-Mother Mary to become a dwelling-place 
            meet for thy Son:
        </p>
    </div>
</section>


<section id="outro-03" class="level1 block" style="--bsm: 7;min-height: 200px;">
    <h2 class="heading"><a href="$$PAGE_HREF$$#outro-03"
    title="Ende">Ende</a><button type="button"
    class="copy-section-link-button" title="Copy section link to clipboard"><svg viewBox="0 0 640 512">
        <path
        d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
        </path>
    </svg></button></h2>
    <div class="rosary-img">

        <p class="first-graf block first" style="--bsm: 4;">
            ..., grant that as we rejoice in her commemoration; 
            so by her fervent intercession we may be delivered 
            from present evils and from everlasting death. 
            Through the same Christ our Lord. Amen.
        </p>

        <div style="position:relative;">

            <img class="rosary-img" loading="lazy" src="/static/img/rosary/outro-02.avif" width="1024" height="1024" />

            <a class="nextlink left" href="#outro-02">
                <div class="link-left">
                    <div class="link-left-content"></div>
                </div>
            </a>
        </div>

        <p class="first-graf block last" style="--bsm: 4;"></p>
            In the name of the Father and the Son and the Holy Ghost:
            Praised be Jesus Christ, now and forever.<br/>
            Amen.
        </p>
    </div>
</section>
