<section id="$$ID$$" class="level1 block" style="--bsm: 7;min-height: 200px;">
    <h2 class="heading">Jump to:</h2>
    <div style="display:flex;flex-direction: column;">
        <a href="#intro-01">Start</a>
        <div style="display:flex;flex-direction: column;flex-grow:1;">
            <a class="rosg" href="#decade-1-ourfather">Joyful mysteries</a>
            <p>
            [
                <a class="rosg" href="#decade-1-ourfather">01</a>,&nbsp;
                <a class="rosg" href="#decade-2-ourfather">02</a>,&nbsp;
                <a class="rosg" href="#decade-3-ourfather">03</a>,&nbsp;
                <a class="rosg" href="#decade-4-ourfather">04</a>,&nbsp;
                <a class="rosg" href="#decade-5-ourfather">05</a>
            ]
            </p>
        </div>
        <div style="display:flex;flex-direction: column;flex-grow:1;">
            <a class="rosr" href="#decade-6-ourfather">Sorrowful Mysteries</a>
            <p>
            [
                <a class="rosr" href="#decade-6-ourfather">01</a>,&nbsp;
                <a class="rosr" href="#decade-7-ourfather">02</a>,&nbsp;
                <a class="rosr" href="#decade-8-ourfather">03</a>,&nbsp;
                <a class="rosr" href="#decade-9-ourfather">04</a>,&nbsp;
                <a class="rosr" href="#decade-10-ourfather">05</a>
            ]
            </p>
        </div>
        <div style="display:flex;flex-direction: column;flex-grow:1;">
            <a class="rosb" href="#decade-11-ourfather">Glorious Mysteries</a>
            <p>
            [
                <a class="rosb" href="#decade-11-ourfather">01</a>,&nbsp;
                <a class="rosb" href="#decade-12-ourfather">02</a>,&nbsp;
                <a class="rosb" href="#decade-13-ourfather">03</a>,&nbsp;
                <a class="rosb" href="#decade-14-ourfather">04</a>,&nbsp;
                <a class="rosb" href="#decade-15-ourfather">05</a>
            ]
            </p>
        </div>
        <a href="#outro">End</a>
    </div>
</section>