<section id="$$ID$$" class="level1 block" style="--bsm: 7;min-height: 200px;">
    <h2 class="heading"><a href="$$PAGE_HREF$$#$$ID$$"
    title="$$DECADE$$">$$DECADE$$</a><button type="button"
    class="copy-section-link-button" title="Copy section link to clipboard"><svg viewBox="0 0 640 512">
        <path
        d="M0 256C0 167.6 71.63 96 160 96H256C273.7 96 288 110.3 288 128C288 145.7 273.7 160 256 160H160C106.1 160 64 202.1 64 256C64 309 106.1 352 160 352H256C273.7 352 288 366.3 288 384C288 401.7 273.7 416 256 416H160C71.63 416 0 344.4 0 256zM480 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352H480C533 352 576 309 576 256C576 202.1 533 160 480 160H384C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H480C568.4 96 640 167.6 640 256C640 344.4 568.4 416 480 416zM416 224C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H224C206.3 288 192 273.7 192 256C192 238.3 206.3 224 224 224H416z">
        </path>
    </svg></button></h2>
    <div class="rosary-img">

        <p class="first-graf block first" style="--bsm: 4;">
            Glory be to the Father, and to the Son, and to the Holy Spirit.
        </p>

        <div style="position:relative;">

            <img class="rosary-img" loading="lazy" src="/static/img/rosary/glorybe.avif" width="1024" height="1024" />

            <a class="nextlink left" href="#$$PREV_ID$$">
                <div class="link-left">
                    <div class="link-left-content"></div>
                </div>
            </a>
    
            <a class="nextlink right" href="#$$NEXT_ID$$">
                <div class="link-right">
                    <div class="link-right-content"></div>
                </div>
            </a>
        </div>

        <p class="first-graf block last" style="--bsm: 4;">
            As it was in the beginning, is now, and ever shall be, world without end. Amen.
        </p>
    </div>
</section>